body {
    font-family: Trebuchet MS, sans-serif;
    background-color: rgb(22, 23, 26);
    color: white
    
}

img {
    border-radius: 10px;
    border: 5px solid rgb(255, 255, 255);
    padding: 5px;
    margin-left: 30px;
    box-shadow: 5px 1px 10px rgb(104, 102, 102);
}

h1 {
    font-size: 52px;
    font-weight: 400;
}

p {
    font-size: 21px;
    font-weight: lighter;
}

li {
    font-size: 21px;
    font-weight: lighter;
}

span {
    color: red;
    font-weight: lighter;
}

b {
    font-weight: 200px;
}

.bord {
    border-top: 4px solid white;
}

.navi {
    font-size: 20px;
    font-family: monospace;
    color: #fff;
    background: linear-gradient(to left, #0f0c29, #302b63, #24243e);
    text-decoration: none;
    padding: 20px 70px;
    margin-left: 20px;
    border-radius: 30px;
    border: 2px solid white;
    background-size: 200%;
    transition: .5s;
}

.navi:hover {
    background-position: right;
}

nav {
    text-align: right; 
    padding-bottom: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    border-bottom: 5px solid white;
    padding-top: 18px;
}


.photo {
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

.dear {
    text-align: center;
}

.ahref {
    padding: 0px;
    font-size: 22px;
    border-bottom: 5px solid white;
    border: 0px;
    box-shadow: none;
}

.ahref:hover {
    box-shadow: none;
}

#under {
    color: white;
    transition: 0.5s linear;
    border-bottom: 3px solid white;
    width: 300px;
}

#under:hover {
    color: rgb(207, 207, 207);
    border-bottom: 4px solid rgb(207, 207, 207);;
}

.discord {
    text-align: center;
    border-top: 4px solid white;
    padding-top: 20px;
}

.dfoff {
    text-align: center;
    margin-left: 27px;
}

.off {
    font-size: 20px;
    font-family: monospace;
    color: #fff;
    background: linear-gradient(to left, #c31432, #240b36);
    text-decoration: none;
    padding: 20px 70px;
    margin-left: 250px;
    border-radius: 30px;
    border: none;
    background-size: 200%;
    transition: .5s;
    border: 2px solid white;
}

.off:hover {
    cursor: pointer;
    background-position: right;
    font-size: 25px;
}

#firs:hover {
    font-size: 25px;
}

#second:hover {
    font-size: 25px;
}

#last:hover {
    font-size: 25px;
}
    
#congr:hover {
    font-size: 25px;
}
