body {
    font-family: "Segoe UI",Arial,sans-serif;
    background-color: rgb(42, 43, 49);
    color: white
    
}

img {
    border-radius: 20px;
    border: 5px solid rgb(255, 255, 255);
    padding: 5px;
    margin-left: 30px;
    box-shadow: 5px 1px 10px rgb(104, 102, 102);
}

h1 {
    font-size: 52px;
    font-weight: lighter;
}

p {
    font-size: 21px;
    font-weight: lighter;
}

li {
    font-size: 21px;
    font-weight: lighter;
}

span {
    color: red;
    font-weight: lighter;
}

b {
    font-weight: 200px;
}

.bord {
    border-top: 2px solid white;
}

.n-find {
    border-top: 2px solid white;
}